body {
  background-color: #212529;
  color: #d3e3f5;
}

.panel {
  background-color: #40434a;
  border-style: solid;
  border-radius: 20px;
  border-width: 10px;
  border-color: #212529;
}

.zylinc-orange {
  color: #ff7f27;
}

.title-color {
  color: #d3e3f5;
}